html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #fff;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

header{
    background: #fff;
    padding: 1.5rem 0;
}

main{
    padding: 1.5rem 0;
}

main.section{
    padding: 3rem 0;
}

